
RedConsoleApp/.vs/RedConsoleApp/v16/.suo
*.ipch
*.opendb
*.db-shm
*.db
*.pdb
*.obj
*.log
*.db-wal
*.recipe
*.user
*.vcxproj
*.idb
*.filters
*.ilk
*.tlog
*.exe
*.txt
*.enc
*.sarif
*.xml
Projects/Framework/.vs/Framework/v16/.suo
